<div class="title">
    <h1 mat-dialog-title class="title">
      <mat-icon aria-hidden="false" style="padding-right: 4px;" aria-label="Example home icon" fontIcon="file_open" color="accent"></mat-icon>
        Histórico
    </h1>
</div>
 <div mat-dialog-content>
    <form class="example-form">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Textarea</mat-label>
            <textarea disabled matInput rows="8">{{historico}}</textarea>
          </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="warn">Fechar</button>
</div>
