table {
    width: 100%;
  }
  
  .loading-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
    padding: 1%;
  }
  
  .deleteButton{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  .container-Toolbar-Buttons{
    position: flex;
    width: 100%;
  }
  
  .align-right{
    float: right;
  }
  